<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Crud Completo con NodeJS, Express y MySQL</title>
<link rel="shortcut icon" href="public/imgs/favicon.ico" type="image/x-icon" />

<!--fuente-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
  rel="stylesheet" />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
<link rel="stylesheet" href="public/css/bootstrap.min.css" />
<link rel="stylesheet" href="public/css/menu.css" />
<link rel="stylesheet" href="public/css/home.css" />
