<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>

    <main class="content-wrapper mt-5" style="margin-top: 80px !important">
      <div class="container" style="width: 95% !important">
        <div class="row justify-content-md-center mb-5">
          <div class="col-md-12 mt-5">
            <h2 class="text-center title">
              Crud Completo con NodeJS, Express y MySQL
              <hr />
            </h2>
          </div>

          <div class="col-md-6 mt-5">
            <img
              class="img-fluid"
              style="max-width: 550px"
              src="../public/imgs/nodejs.png"
              alt="WeB Developer - urian V" />
          </div>
          <div class="col-md-6 mt-5">
            <img
              src="../public/imgs/goku.gif"
              class="img-fluid rounded"
              alt="Goku" />
          </div>
        </div>
      </div>
    </main>

    <%- include('includes/scripts') %>
  </body>
</html>
