body {
  margin: 0;
  background-color: #fafff9;
  font-family: "Ubuntu", sans-serif;
}

.title {
  color: #3f9435;
  font-size: 50px;
  font-weight: 900;
}
form {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0px 17px 26px -8px rgba(151, 172, 193, 0.6);
}
.custom_table {
  background-color: #fff;
  box-shadow: 0px 2px 97px 7px rgba(151, 172, 193, 0.6);
  border-radius: 5px;
}
.container {
  min-width: 95% !important;
  margin: 0 auto;
}
