<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="public/css/home.css" />
  </head>
  <body>
    <%- include('../includes/header') %>

    <main class="content-wrapper mt-5" style="margin-top: 80px !important">
      <div class="container" style="width: 95% !important">
        <div class="row justify-content-md-center mb-5">
          <div class="col-md-12 mt-5">
            <h2 class="text-center">
              Enviar formulario HTML a Mysql con Nodejs
              <hr />
            </h2>
          </div>

          <div class="col-md-6 mt-5 text-center cardForm">
            <form action="/procesar-formulario" method="POST">
              <div class="form-group mb-3">
                <label for="nombre_alumno">Nombre del Estudiante</label>
                <input type="text" name="nombre_alumno" class="form-control" />
              </div>
              <div class="form-group mb-3">
                <label for="email_alumno">Correo del Estudiante</label>
                <input type="text" name="email_alumno" class="form-control" />
              </div>
              <div class="form-group mb-4">
                <label for="curso_alumno">Curso</label>
                <select name="curso_alumno" class="form-control">
                  <option value="Python">Python</option>
                  <option value="NodeJS">NodeJS</option>
                  <option value="PHP">PHP</option>
                  <option value="JavaScript">JavaScript</option>
                </select>
              </div>

              <button type="submit" class="btn btn-info btn-lg btn-block">
                Enviar formulario
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('../includes/scripts') %>
  </body>
</html>
